
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"); 

:root {
    --iriscolor:#4D5AE5;
    --navyblue: #2E2F42;
    --navcolor: black;
    --oceancolor: #2196f3;
    --whitecolor: white;
    --slatecolor:#434455;
    --cloudcolor:#f4f4fd;

}

/* Index */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slatecolor);
    background-color: var(--whitecolor);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navyblue);
}

.studio-logo {
    color: var(--navyblue);
}

.link {
    color: var(--iriscolor);
    text-decoration: none;
}

.list-item > .item {
    color: var(--navcolor);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}

li > .link:hover,
li > .link:focus {
    color: var(--iriscolor);
}

.contact-info {
    font-style: normal;
}

.contact-item > .info {
    color: var(--navcolor);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/*  Section 1 */
.bg-section1 {
    background-color: var(--navyblue);
}

.h1-title {
    color: var(--whitecolor);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: inherit;
    background-color: var(--oceancolor);
    color: var(--whitecolor);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
    background-color: (var--iriscolor);
}

/* Section 2 */

.sectionlist {
    list-style: none;
}
.titlelist {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}

.desclist {
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: var(--slatecolor)

}

/* Section 3 */
.sectiontitle {
    text-align: center;
    color: var(--navyblue);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* Section 4 */

.bg-section4 {
    background-color: var(--cloudcolor);
}

.sectionlist .teamlist {
    background-color: var(--whitecolor);
}
.teamname {
    color: var(--navyblue);
    font-weight: 900;
}

.position {
    color: var(--slatecolor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
}

/* Footer */

.studio-logo2 {
    color: var(--cloudcolor);
}

.bg-footer {
    background-color: var(--navyblue);
}

.lastword {
    color: white;
    line-height: 1.5;
    letter-spacing: 0.05em;
}